<div class="flex flex-col items-center text-center">
    <div class="w-24 h-24 bg-violet-600 rounded-full flex items-center justify-center shrink-0 mb-3">
        <img
            [src]="userInfo.avatar"
            [alt]="userInfo.name"
            class="w-full h-full rounded-full object-cover pt-2"
            onerror="this.style.display='none'; this.nextElementSibling.style.display='flex'"
        />
        <span class="text-white font-semibold text-2xl hidden">
            {{ userInfo.name.charAt(0) }}
        </span>
    </div>
    <div class="text-center">
          <h3 class="font-semibold text-gray-900 truncate">{{ userInfo.name }}</h3>
          <p class="text-sm text-gray-500 truncate">{{ userInfo.role }}</p>
    </div>
</div>

<nav class="flex-1 p-4 space-y-2 px-6">
    @for (item of menuItems; track item.route) {
    <div class="group">
    <a
        [routerLink]="item.route"
        [class]="getMenuItemClasses(item)"
        class="flex items-center space-x-3 px-3 py-2  w-60 h-11 rounded-lg text-sm text-stone-800 font-medium transition-colors duration-200 hover:bg-gray-50"
        (click)="setActiveItem(item)"
    >
        <i [class]="item.icon" class="text-lg shrink-0"></i>
        <span class="truncate">{{ item.label }}</span>
        <i class="pi pi-angle-right ml-auto"></i>
    </a>
    </div>
    }
</nav>

<!-- Footer con logo -->
<div class="p-4">
    <div class="flex items-center justify-center">
    <div class="flex items-center space-x-2">
        <img src="/assets/logos/HomeFinder.svg" alt="HomeFinder" class="w-8 h-8" />
        <span class="font-semibold text-gray-700">HomeFinder</span>
    </div>
    </div>
</div>
