<div class="h-full flex flex-col">
  <!-- User Info -->
  <div class="flex flex-col items-center text-center mb-3">
    <div
      class="w-24 h-24 bg-violet-600 rounded-full flex items-center justify-center shrink-0 mb-3"
    >
      <img
        [src]="userInfo.avatar"
        [alt]="userInfo.name"
        class="w-full h-full rounded-full object-cover pt-2"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='flex'"
      />
      <span class="text-white font-semibold text-2xl hidden">
        {{ userInfo.name.charAt(0) }}
      </span>
    </div>
    <div class="text-center">
      <h3 class="font-semibold text-gray-900 truncate">{{ userInfo.name }}</h3>
      <p class="text-sm text-gray-500 truncate">{{ userInfo.role }}</p>
    </div>
  </div>
  <div class="flex items-center gap-36">
    <span class="text-base font-bold">Filtrar</span>
    <p-button label="Limpiar todo" variant="text" class="[&>button]:!p-0 [&>button]:!h-auto [&>button]:!w-auto [&>button]:text-xs [&>button]:font-bold" (onClick)="resetAll()"/>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <hr class="mt-3.5 border-[#D9D9D9] w-full" />
    <ul class="mt-3.5">
      <li class="bg-white w-3xs h-[2.875rem] mt-3.5 rounded-3xl flex items-center">
        <p-iconfield class="w-full h-full flex items-center">
          <p-inputicon class="pi pi-search ml-2" />
          <input
            type="text"
            name="ubicationInput"
            class="h-full ml-12 text-sm bg-transparent focus:outline-none"
            pInputText
            placeholder="Ubicación"
            ngModel
            #ubicationInput="ngModel"
          />
          <p-button
            severity="secondary"
            class="[&>button]:rounded-4xl [&>button]:size-7 ml-1"
            icon="pi pi-times text-sm"
            (onClick)="clearInput(ubicationInput)"
          />
        </p-iconfield>
      </li>
      <li>
        <fieldset class="mt-3 ml-3">
          <div>
            <!-- Usamos un array ligado a selectedUbications para que el input de texto se mantenga intacto -->
            <p-checkbox inputId="cali" name="ubicationOptions" value="Cali" class="scale-75" ngModel #selectedUbications="ngModel" />
            <label for="cali" class="text-xs"> Cali, Colombia </label>
          </div>
          <div>
            <p-checkbox inputId="tulua" name="ubicationOptions" value="Tulua" class="scale-75" ngModel #selectedUbications="ngModel" />
            <label for="tulua" class="text-xs"> Tulua, Colombia </label>
          </div>
        </fieldset>
      </li>
      <hr class="mt-3.5 border-[#D9D9D9] w-full" />

      <li class="bg-white w-3xs h-[2.875rem] mt-3.5 rounded-3xl flex items-center">
        <p-iconfield class="w-full h-full flex items-center">
          <p-inputicon class="pi pi-money-bill ml-2" />
          <input
            type="number"
            min="0"
            name="priceInput"
            step="1"
            class="h-full ml-12 text-sm bg-transparent focus:outline-none"
            pInputText
            placeholder="Precio"
            (keydown)="onKeyDown($event)"
            ngModel
            #priceInput="ngModel"
          />
          <p-button
            severity="secondary"
            class="[&>button]:rounded-4xl [&>button]:size-7 ml-1"
            icon="pi pi-times text-sm"
            (onClick)="clearInput(priceInput)"
            
          />
        </p-iconfield>
      </li>
      <!-- <li>
        <fieldset class="mt-3 ml-3">
          <div>
            <p-radiobutton
              name="priceRange"
              value="less-than-1000"
              inputId="first"
              class="scale-75"
              ngModel
            />
            <label for="first" class="ml-2 text-xs">$1000</label>
          </div>
          <div>
            <p-radiobutton
              name="priceRange"
              value="1000-1500"
              inputId="second"
              class="scale-75"
              ngModel
            />
            <label for="second" class="ml-2 text-xs">$1000 - $1500</label>
          </div>
          <div>
            <p-radiobutton
              name="priceRange"
              value="more-than-1500"
              inputId="third"
              class="scale-75"
              ngModel
            />
            <label for="third" class="ml-2 text-xs">Más de $1500</label>
          </div>
          <div>
            <p-radiobutton
              name="priceRange"
              value="custom"
              inputId="fourth"
              class="scale-75"
              ngModel
            />
            <label for="fourth" class="ml-2 text-xs">Personalizado</label>
          </div>
          <div class="mt-6">
            <p-slider [range]="true" class="w-56 scale-75 h-2" name="priceRangeSlider" ngModel />
          </div>
        </fieldset>
      </li> -->
      <hr class="mt-3.5 border-[#D9D9D9] w-full" />
      <li class="bg-white w-3xs h-[2.875rem] mt-3.5 rounded-3xl flex items-center">
        <p-iconfield class="w-full h-full flex items-center">
          <p-inputicon class="pi pi-building ml-2" />
          <input
            type="number"
            name="squareMetersInput"
            min="0"
            step="1"
            class="h-full ml-12 text-sm bg-transparent focus:outline-none"
            pInputText
            placeholder="Metros Cuadrados"
            (keydown)="onKeyDown($event)"
            ngModel
            #squareMetersInput="ngModel"
          />
          <p-button
            severity="secondary"
            class="[&>button]:rounded-4xl [&>button]:size-7 ml-1"
            icon="pi pi-times text-sm"
            (onClick)="clearInput(squareMetersInput)"
          />
        </p-iconfield>
      </li>

      <div class="flex gap-3.5 mt-3.5">
        <li class="bg-white w-[7.438rem] h-8 rounded-3xl flex items-center">
          <p-iconfield class="w-full h-full flex items-center">
            <input
              type="number"
              name="minInput"
              min="0"
              step="1"
              class="h-full max-w-24 ml-2 text-sm bg-transparent focus:outline-none"
              pInputText
              placeholder="Min"
              (keydown)="onKeyDown($event)"
              ngModel
              #minInput="ngModel"
            />
          </p-iconfield>
        </li>
        <li class="bg-white w-[7.438rem] h-8 rounded-3xl flex items-center">
          <p-iconfield class="w-full h-full flex items-center">
            <input
              type="number"
              min="0"
              step="1"
              name="maxInput"
              class="h-full max-w-24 ml-2 text-sm bg-transparent focus:outline-none"
              pInputText
              placeholder="Max"
              (keydown)="onKeyDown($event)"
              ngModel
              #maxInput="ngModel"
            />
          </p-iconfield>
        </li>
      </div>
      <hr class="mt-3.5 border-[#D9D9D9] w-full" />
      <li class="bg-white w-3xs h-[2.875rem] mt-3.5 rounded-3xl flex items-center">
        <p-iconfield class="w-full h-full flex items-center">
          <p-inputicon class="pi pi-circle-fill ml-2" />
          <input
            type="number"
            min="0"
            name="roomsInput"
            step="1"
            class="h-full ml-12 text-sm bg-transparent focus:outline-none"
            pInputText
            placeholder="Habitaciones"
            (keydown)="onKeyDown($event)"
            ngModel
            #roomsInput="ngModel"
          />
          <p-button
            severity="secondary"
            class="[&>button]:rounded-4xl [&>button]:size-7 ml-1"
            icon="pi pi-times text-sm"
            (onClick)="clearInput(roomsInput)"
          />
        </p-iconfield>
      </li>
      <hr class="mt-3.5 border-[#D9D9D9] w-full" />
      <li class="bg-white w-3xs h-[2.875rem] mt-3.5 rounded-3xl flex items-center">
        <p-iconfield class="w-full h-full flex items-center">
          <p-inputicon class="pi pi-circle-fill ml-2" />
          <input
            type="number"
            name="bathroomsInput"
            min="0"
            step="1"
            class="h-full ml-12 text-sm bg-transparent focus:outline-none"
            pInputText
            placeholder="Baños"
            (keydown)="onKeyDown($event)"
            ngModel
            #bathroomsInput="ngModel"
          />
          <p-button
            severity="secondary"
            class="[&>button]:rounded-4xl [&>button]:size-7 ml-1"
            icon="pi pi-times text-sm"
            (onClick)="clearInput(bathroomsInput)"
          />
        </p-iconfield>
      </li>
      <li class="mt-7 flex justify-center">
        <p-button type="submit" label="Aplicar" class="[&>button]:w-48 [&>button]:h-12 [&>button]:font-bold [&>button]:rounded-lg" />
      </li>
    </ul>
  </form>

  <!-- Footer con logo -->
  <div class="mt-9">
    <div class="flex items-center justify-center">
      <div class="flex items-center space-x-2">
        <img src="/assets/logos/HomeFinder.svg" alt="HomeFinder" class="" />
        <span class="font-semibold text-gray-700">HomeFinder</span>
      </div>
    </div>
  </div>
</div>
