<footer class="h-[40.625rem]">
  <div class="mx-auto h-full flex flex-col">
    <div class="grid w-fit grid-cols-[auto_auto_auto_auto] gap-x-22 pt-20 mx-auto">
      <section class="flex items-start">
        <img
          ngSrc="assets/logos/HomeFinder.svg"
          alt="HomeFinder Logo"
          width="28"
          height="28"
          priority
        />
        <span class="ml-1 text-xl font-bold text-[#100A55]">HomeFinder</span>
      </section>

      <section>
        <div class="mb-12">
          <h2 class="text-base font-bold mb-4">VENDER UNA CASA</h2>
          <ul class="flex flex-col gap-3">
            <li>Solicite una oferta</li>
            <li>Precios</li>
            <li>Opiniones</li>
            <li>Historias</li>
          </ul>
        </div>
        <div>
          <h2 class="text-base font-bold mb-4">COMPRAR UNA CASA</h2>
          <ul class="flex flex-col gap-3">
            <li>Comprar</li>
            <li>Finanzas</li>
          </ul>
        </div>
      </section>

      <section>
        <div class="mb-12">
          <h2 class="text-base font-bold mb-4">COMPRAR, RENTAR Y VENDER</h2>
          <ul class="flex flex-col gap-3">
            <li>Compra y vende propiedades</li>
            <li>Alquila una casa</li>
            <li>Intercambio de constructor</li>
          </ul>
        </div>
        <div>
          <h2 class="text-base font-bold mb-4">TÉRMINOS Y PRIVACIDAD</h2>
          <ul class="flex flex-col gap-3">
            <li>Confianza y seguridad</li>
            <li>Términos de servicio</li>
            <li>Política de privacidad</li>
          </ul>
        </div>
      </section>

      <section>
        <div class="mb-12">
          <h2 class="text-base font-bold mb-4">ACERCA DE</h2>
          <ul class="flex flex-col gap-3">
            <li>La compañía</li>
            <li>Como funciona</li>
            <li>Contacto</li>
            <li>Inversores</li>
          </ul>
        </div>
        <div>
          <h2 class="text-base font-bold mb-4">Recursos</h2>
          <ul class="flex flex-col gap-3">
            <li>Blog</li>
            <li>Guías</li>
            <li>FAQ</li>
            <li>Centro de ayuda</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="mt-auto">
      <hr class="border-t-[0.5px] border-[#E8E6F9]" />
      <p-menubar class="border-transparent h-[5.625rem] border-0">
        <ng-template pTemplate="start">
          <span class="text-base font-medium text-[#000929]/50 ml-[7.5rem]">
            © 2025 HomeFinder. Todos los derechos reservados.
          </span>
        </ng-template>
        <ng-template pTemplate="end">
          <ul class="flex flex-row gap-10 mr-[12.5rem] opacity-30">
            <li>
              <i class="pi pi-facebook text-2xl"></i>
            </li>
            <li>
              <i class="pi pi-instagram text-2xl"></i>
            </li>
            <li>
              <i class="pi pi-twitter text-2xl"></i>
            </li>
            <li>
              <i class="pi pi-linkedin text-2xl"></i>
            </li>
          </ul>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</footer>
