<div class="h-screen flex bg-violet-50 overflow-hidden">
  <!-- Sidebar -->
  <div class="w-[18.75rem] bg-violet-50 shadow-lg flex flex-col overflow-y-auto">
    <div class="p-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <main class="flex-1 w-full p-6 bg-violet-100 overflow-y-auto">
      @if (isAdmin) {
        <h2>Bienvenido al panel de <strong>Administrador</strong></h2>
      }
      <!-- <h2 *ngIf="isOwner">Bienvenido al panel de <strong>Propietario</strong></h2>
      <h2 *ngIf="isUser">Bienvenido al panel de <strong>Usuario</strong></h2> -->
      <!-- TASK: Need role functionality
      @if (isAdmin) {
        <app-admin-dashboard></app-admin-dashboard>
      }
      -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
