<div class="h-screen min-h-screen flex flex-col bg-violet-100">
  <div class="w-72 bg-violet-50 shadow-lg flex flex-col">
        <div class="p-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="flex-1 flex flex-col">
        <main class="flex-fill flex-1 w-full p-6 bg-violet-100 overflow-auto">
            <h2 *ngIf="isAdmin">Bienvenido al panel de <strong>Administrador</strong></h2>
            <!-- <h2 *ngIf="isOwner">Bienvenido al panel de <strong>Propietario</strong></h2>
            <h2 *ngIf="isUser">Bienvenido al panel de <strong>Usuario</strong></h2> -->
            <!--
            @if (isAdmin) {
                <app-admin-dashboard></app-admin-dashboard>
            }
            -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
