/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  --p-primary-50: #f3f2fd;
  --p-primary-100: #e8e6fb;
  --p-primary-200: #d5d1f8;
  --p-primary-300: #b8b1f3;
  --p-primary-400: #9589eb;
  --p-primary-500: #7065f0;
  --p-primary-600: #5f4ed8;
  --p-primary-700: #5040bd;
  --p-primary-800: #43369a;
  --p-primary-900: #39307c;
  --p-primary-950: #2a2560;

    /* primary variables p-button */
  --p-button-primary-background: var(--p-primary-500);
  --p-button-primary-color: #ffffff;
  --p-button-primary-border-color: var(--p-primary-500);

  /* secondary variables p-button */
  --p-button-secondary-background: transparent;
  --p-button-secondary-color: #000929;
  --p-button-secondary-border-color: #E0DEF7;

  /* Global font variables */
  --app-font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
  --p-font-family: var(--app-font-family);
}


/* src/styles.css */

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800; /* You tell the browser that this font covers the weight range from 200 to 800*/
  font-display: swap;
  src: url('/assets/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200 800; /* You tell the browser that this font covers the weight range from 200 to 800*/
  font-display: swap;
  src: url('/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
}

html {
  font-family: var(--app-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Ensure form controls inherit the global font */
button, input, textarea, select {
  font-family: inherit;
}
